<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b>
<hr>
<a href="/search">Etsi viestejä</a>
<hr>
<h2>Alueet</h2>
<hr>
{% for area in areas %}
<a href="/areas/{{ area.id }}">{{ area.area_name }}</a>
<hr>
{% if admin %}
<a href="/delete_area">Poista Alue</a>
<hr>
{% endif %}
{% endfor %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
{% if admin %}
<a href="/make_area">Uusi Alue</a>
<hr>
{% endif %}
<style>
    h1 {
        background-color: skyblue
    }

</style>