<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa</b>
<hr>
<a href="/search">Etsi viestejä</a>
<hr>
<h2>Alueet</h2>
<hr>
{% for area in areas %}
<a href="/areas/{{ area.id }}">{{ area.area_name }}</a>
| 
{% if admin %}
<form action="/delete_area" method="POST">
<input type="submit" value="Poista alue">
<input type="hidden" name="area_id" value="{{ area.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<hr>
{% endfor %}
{% if admin %}
<form action="/make_area" method="POST">
<p>Luo uusi Alue</p>
<input type="text" name="area_name" required maxlength="140">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Luo">
</form>
<hr>
{% endif %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

<style>
    h1 {
        background-color: skyblue
    }

</style>