<title>Ketjut</title>
<h1>Ketjut</h1>
<takaisin>
<a href="/">Takaisin etusivulle</a>
</takaisin>
<hr>
{% if session.user_id %}
Olet kirjautunut sisään.
<hr>
<h2>{{ header.thread_name }}</h2>
<hr>
<form action="/send" method="POST"> 
<p>Lähetä uusi viesti</p>
<textarea name="content" rows="4" cols="60"></textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
</form>
<hr>
{% for message in messages %}
Lähettäjä: {{ message.username }} <br>
{{ message.content }} <br>
{{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
{% if session.user_id == message.users_id %}
<form action="/delete" method="POST">
<input type="submit" value="Poista viesti">
<input type="hidden" name="message_id" value="{{ message.id }}">
<input type="hidden" name="user_id" value="{{ message.users_id }}">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
</form>
{% endif %}
<hr>
{% endfor %}
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<style>
    h1 {
        background-color: skyblue
    }
    takaisin {
        font-size: 14px;
    }
</style>