<title>Ketjut</title>
<h1>Ketjut</h1>
<takaisin>
<a href="/">Takaisin etusivulle</a>
</takaisin>
<hr>
{% if session.user_id %}
Olet kirjautunut sisään.
<hr>
<h2>{{ header.thread_name }}</h2>
<hr>
<form action="/send" method="POST"> 
<p>Lähetä uusi viesti</p>
<textarea name="content" rows="4" cols="60"></textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
{% for message in messages %}
Lähettäjä: {{ message.username }} <br>
{{ message.content }} <br>
{{ message.sent_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
{% if session.user_id == message.users_id or admin %}
<form action="/edit_message" method="POST">
    <input type="submit" value="Muokkaa viestiä">
    <input type="text" name="new_content">
    <input type="hidden" name="message_id" value="{{ message.id }}">
    <input type="hidden" name="user_id" value="{{ message.users_id }}">
    <input type="hidden" name="thread_id" value="{{ thread_id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% if not message.thread_message %}
</form> 
<form action="/delete" method="POST">
<input type="submit" value="Poista viesti">
<input type="hidden" name="message_id" value="{{ message.id }}">
<input type="hidden" name="user_id" value="{{ message.users_id }}">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% endif %}
{% if (session.user_id == message.users_id and message.thread_message) or (admin and message.thread_message) %}
<hr>
<h3>Ketjun asetukset</h3>
<hr>
<form action="/edit_thread" method="POST">
    <input type="submit" value="Muokkaa ketjun nimeä">
    <input type="text" name="new_name" required maxlength="140">
    <input type="hidden" name="user_id" value="{{ message.users_id }}">
    <input type="hidden" name="thread_id" value="{{ thread_id }}">
    <input type="hidden" name="area_id" value="{{ header.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<form action="/delete_thread" method="POST">
<input type="submit" value="Poista ketju">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
<input type="hidden" name="area_id" value="{{ header.id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}
{% endfor %}
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>

{% endif %}
<style>
    h1 {
        background-color: skyblue
    }
    takaisin {
        font-size: 14px;
    }
</style>